<%# Link tag for page
    - available local variables
      page:  a page object (see Kaminari::Helpers::Paginator::PageProxy)
      url:   url to this page
      current_page: a page object of current page
%>
<% if page.current? %>
  <span class="w-10 h-10 flex items-center justify-center bg-gradient-to-r from-green-500 to-emerald-500 text-white rounded-xl font-bold shadow-lg shadow-green-500/30"><%= page %></span>
<% else %>
  <%= link_to page, url, class: 'w-10 h-10 flex items-center justify-center text-gray-400 hover:text-white hover:bg-white/10 rounded-xl font-medium transition-all duration-200', remote: remote %>
<% end %>
